# Data directory
DATA_DIR=/data/bitlayer-l2

# Config file path
CONFIG_FILE=./config.toml

# AWS S3 Configuration
NODE_X_BUCKET=chaintable-nodex-pipeline--apne1-az4--x-s3
CHAIN_TABLE_BUCKET=chaintable-pipeline--apne1-az4--x-s3
AWS_REGION=ap-northeast-1

# Kafka Configuration
KAFKA_BROKERS=["b-2.chaintablenodexpi.udy5cj.c4.kafka.ap-northeast-1.amazonaws.com:9092","b-4.chaintablenodexpi.udy5cj.c4.kafka.ap-northeast-1.amazonaws.com:9092","b-1.chaintablenodexpi.udy5cj.c4.kafka.ap-northeast-1.amazonaws.com:9092"]
KAFKA_TOPIC=nodex_pipeline_200901_test

# Chain Configuration
CHAIN_ID=200901
VERSION=test

# Backup node (true/false)
IS_BACKUP=false
